<div
  class="h-[154px] px-5 py-0.5 bg-no-repeat bg-background-yellow bg-lions bg-bottom"
>
  <div class="flex flex-col items-center">
    <div class="font-wotham text-xl text-title-red">RSVP</div>

    <div class="grid grid-cols-[1fr_0.1fr_1fr] w-full items-center">
      <div
        class="flex items-center text-center font-domine text-[15px] max-w-[111px] justify-self-center"
      >
        Please RSVP by 01.03.2026 <!-- TODO: Double check RSVP date -->
      </div>

      <div class="w-0.25 h-20 bg-black mx-auto flex items-end"></div>

      <div
        class="flex flex-col justify-end items-center font-domine text-[8px] text-center"
      >
        <span>Whatsapp</span>
        <span>Nainesh: +642102424405</span>
        <span class="mb-2">Nikita: +447807683202</span>
        <span> email nain.niki23@gmail.com</span>
      </div>
    </div>
  </div>
</div>
