<div
  class="bg-background-yellow bg-lions h-[154px] bg-bottom bg-no-repeat px-5 pt-2"
>
  <div class="flex flex-col items-center">
    <div class="font-wotham text-title-red text-xl">RSVP</div>

    <div class="grid w-full grid-cols-[1fr_0.1fr_1fr] items-center">
      <div
        class="font-domine flex max-w-[111px] items-center justify-self-center text-center text-[15px]"
      >
        Please RSVP by 01.03.2026 <!-- TODO: Double check RSVP date -->
      </div>

      <div class="mx-auto h-20 w-0.25 self-center bg-black"></div>

      <div
        class="font-domine flex flex-col items-center justify-end text-center text-[10px]"
      >
        <span>Whatsapp</span>
        <span
          >Nainesh: <a href="https://wa.me/642102424405" class="underline"
            >+642102424405</a
          ></span
        >
        <span class="mb-2"
          >Nikita: <a href="https://wa.me/447807683202" class="underline"
            >+447807683202</a
          ></span
        >
        <span
          >or email <a href="mailto:nain.niki23@gmail.com" class="underline"
            >nain.niki23@gmail.com</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
