---
import tree from "../assets/tree.svg";
---

<!-- TODO: Change this body to be vertical, no need for the divider and will look better I reckon -->
<div
  id="rsvp"
  class="bg-background-yellow bg-lions m-auto flex h-full w-full scroll-mt-14 flex-row bg-bottom bg-no-repeat px-2 pt-2 md:w-3/4 md:rounded-2xl md:border"
>
  <img
    src={tree.src}
    alt="RSVP Image"
    class="flex w-1/4 self-end opacity-40 md:self-stretch"
  />
  <div class="flex h-full w-1/2 flex-col items-center pt-2">
    <div class="font-wotham text-title-red mb-6 text-xl md:text-3xl">RSVP</div>

    <div class="flex flex-row">
      <div
        class="flex w-full flex-col items-center justify-center"
        data-testid="rsvp-card"
      >
        <div
          class="font-domine mb-4 flex max-w-[111px] items-center justify-self-center text-center text-[15px] md:max-w-full md:text-[22px]"
        >
          Please RSVP by 01.03.2026 <!-- TODO: Double check RSVP date -->
        </div>

        <div
          class="font-domine mb-16 flex flex-col items-center justify-end text-center text-[12px] md:text-[17px]"
        >
          <span class="italic">Whatsapp</span>
          <span
            >Nainesh: <a href="https://wa.me/642102424405" class="underline"
              >+642102424405</a
            ></span
          >
          <span class="mb-2"
            >Nikita: <a href="https://wa.me/447807683202" class="underline"
              >+447807683202</a
            ></span
          >
          <span class="italic">or Email</span>
          <a href="mailto:nain.niki23@gmail.com" class="underline"
            >nain.niki23@gmail.com</a
          >
        </div>
      </div>
    </div>
  </div>
  <img
    src={tree.src}
    alt="RSVP Image"
    class="flex w-1/4 self-end opacity-40 md:self-stretch"
  />
</div>
