<div
  class="h-[154px] px-5 pt-2 bg-no-repeat bg-background-yellow bg-lions bg-bottom"
>
  <div class="flex flex-col items-center">
    <div class="font-wotham text-xl text-title-red">RSVP</div>

    <div class="grid grid-cols-[1fr_0.1fr_1fr] w-full items-center">
      <div
        class="flex items-center text-center font-domine text-[15px] max-w-[111px] justify-self-center"
      >
        Please RSVP by 01.03.2026 <!-- TODO: Double check RSVP date -->
      </div>

      <div class="w-0.25 h-20 self-center bg-black mx-auto"></div>

      <div
        class="flex flex-col justify-end items-center font-domine text-[10px] text-center"
      >
        <span>Whatsapp</span>
        <span
          >Nainesh: <a href="https://wa.me/642102424405" class="underline"
            >+642102424405</a
          ></span
        >
        <span class="mb-2"
          >Nikita: <a href="https://wa.me/447807683202" class="underline"
            >+447807683202</a
          ></span
        >
        <span
          >or email <a href="mailto:nain.niki23@gmail.com" class="underline"
            >nain.niki23@gmail.com</a
          ></span
        >
      </div>
    </div>
  </div>
</div>
