---
import star from "../assets/star.svg";
import Star from "./Star.vue";
---

<div
  id="travel-and-accommodation"
  class="bg-background-green bg-birds m-auto scroll-mt-14 bg-right bg-no-repeat px-5 pt-2 pb-6 md:w-3/4 md:rounded-2xl md:border md:pt-4"
>
  <div class="flex flex-col items-center">
    <div class="font-wotham text-title-red mb-4 text-2xl md:mb-8 md:text-3xl">
      Travel & Accommodation
    </div>
    <div class="font-domine flex flex-col gap-5 text-center md:gap-10">
      <div>
        <div class="text-title-red mb-2 text-lg italic md:text-2xl">
          Flying In
        </div>
        <div class="font-domine text-center text-sm md:text-base">
          We recommend flying into Jomo Kenyatta International Airport which is
          around 40 minutes from the city center and wedding venues
        </div>
      </div>
      <div>
        <div class="text-title-red mb-2 text-lg italic md:text-2xl">
          Visa Requirements
        </div>
        <div class="text-center text-sm md:text-base">
          You will need an <a
            class="underline"
            href="https://etakenya.go.ke/"
            target="_blank">eTA</a
          > to enter Kenya which takes up to 2 weeks to receive
        </div>
      </div>
      <div>
        <div class="text-title-red mb-2 text-lg italic md:text-2xl">
          Vaccine Requirements
        </div>
        <div class="text-center text-sm md:text-base">
          Boost up with these <a
            class="underline"
            href="https://travelhealthpro.org.uk/country/117/kenya#Vaccine_Recommendations"
            target="_blank">recommended vaccines</a
          >
        </div>
      </div>
      <div>
        <!-- TODO: Add star ratings for each hotel -->
        <div class="text-title-red mb-2 text-lg italic md:text-2xl">
          Recommended Hotels
        </div>
        <div
          class="flex flex-col items-center text-center text-sm underline md:text-base"
        >
          <div
            class="grid grid-cols-[1fr_auto] items-center gap-x-4 gap-y-2 text-right"
          >
            <a href="https://www.ibisstylesnairobi.com/" target="_blank"
              >ibis Styles</a
            >
            <Star numberOfStars={3} />

            <a href="https://www.kingfishernest.com/" target="_blank"
              >Kingfisher Nest Hotel Suites</a
            >
            <Star numberOfStars={4} />

            <a href="https://www.trademark-hotel.com/" target="_blank"
              >Trademark Hotel</a
            >
            <Star numberOfStars={4} />

            <a href="https://www.tribe-hotel.com/" target="_blank"
              >Tribe Hotel</a
            >
            <Star numberOfStars={5} />
          </div>
        </div>
      </div>
      <div>
        <div class="text-title-red mb-2 text-lg italic md:text-2xl">
          Recommended Restaurants
        </div>
        <div
          class="font-domine flex flex-col items-center text-center text-sm md:text-base"
        >
          <div
            class="grid grid-cols-[max-content_max-content] items-center gap-x-4 gap-y-2 text-center"
          >
            <a href="https://www.ibisstylesnairobi.com/" target="_blank"
              >Hashmi Barbeque</a
            >
            <div class="text-left">&#127831; <!-- chicken emoji --></div>
            <div class="text-right">
              Zen Garden <!-- pasta and chinese emoji -->
            </div>
            <div class="text-left">&#127837; &#129377;</div>
            <div class="text-right">Artcaffe Restaurant</div>
            <div class="text-left">
              &#9749; &#127856; <!-- coffee and cake emoji -->
            </div>
            <div class="text-right">Furusato</div>
            <div class="text-left">&#127843; <!-- sushi emoji --></div>
            <div class="text-right">Slush Coffee World</div>
            <div class="text-left">
              &#127829; &#127835; <!-- pizza and curry emoji -->
            </div>
            <div class="text-right">Chowpaty</div>
            <div class="text-left">&#129368; <!-- shallow pan emoji --></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
