<div class="bg-background-green bg-birds bg-right bg-no-repeat px-5 pt-2 pb-6">
  <div class="flex flex-col items-center">
    <div class="font-wotham text-title-red mb-4 text-2xl">
      Travel & Accommodation
    </div>
    <div class="flex flex-col gap-5 text-center">
      <div>
        <div class="font-wotham text-title-red mb-2 text-xl">Flying in</div>
        <div class="font-domine text-center text-sm">
          We recommend flying into Jomo Kenyatta International Airport which is
          around 40 minutes from the city center and wedding venues
        </div>
      </div>
      <div>
        <div class="font-wotham text-title-red mb-2 text-xl">
          Visa Requirements
        </div>
        <div class="font-domine text-center text-sm">
          You will need an <a
            class="underline"
            href="https://etakenya.go.ke/"
            target="_blank">eTA</a
          > to enter Kenya which takes up to 2 weeks to receive
        </div>
      </div>
      <div>
        <div class="font-wotham text-title-red mb-2 text-xl">
          Vaccine Requirements
        </div>
        <div class="font-domine text-center text-sm">
          Boost up with these <a
            class="underline"
            href="https://travelhealthpro.org.uk/country/117/kenya#Vaccine_Recommendations"
            target="_blank">recommended vaccines</a
          >
        </div>
      </div>
      <div>
        <!-- TODO: Add star ratings for each hotel -->
        <div class="font-wotham text-title-red mb-2 text-xl">
          Recommended Hotels
        </div>
        <div class="font-domine flex flex-col text-center text-sm underline">
          <a href="https://www.kingfishernest.com/" target="_blank"
            >Kingfisher Nest Hotel Suites</a
          >
          <a href="https://www.trademark-hotel.com/" target="_blank"
            >Trademark Hotel</a
          >
          <a href="https://www.tribe-hotel.com/" target="_blank">Tribe Hotel</a>
          <a href="https://www.ibisstylesnairobi.com/" target="_blank"
            >ibis Styles</a
          >
        </div>
      </div>
      <div>
        <div class="font-wotham text-title-red mb-2 text-xl">
          Recommended Restaurants
        </div>
        <div class="font-domine flex flex-col text-center text-sm">
          <span>Hashmi Barbeque</span>
          <span>Zen Garden</span>
          <span>Artcaffe Restaurant</span>
          <span>Furusato</span>
          <span>Slush Coffee World</span>
          <span>Chowpaty</span>
        </div>
      </div>
    </div>
  </div>
</div>
