<div
  class="h-[254px] px-5 pt-2 bg-no-repeat bg-background-green bg-birds bg-right"
>
  <div class="flex flex-col items-center">
    <div class="font-wotham text-xl text-title-red">Travel & Accommodation</div>
  </div>
</div>
