<div
  class="h-[136px] bg-background-green px-10 flex flex-row items-center justify-between"
>
  <div class="flex flex-col justify-start">
    <div class="text-title-red text-[28px] font-wotham">When</div>
    <hr />
    <div class="font-domine text-xs">06.07.2026</div>
  </div>
  <div class="h-10 w-10 border"></div>
  <div class="flex flex-col justify-end">
    <div class="text-title-red text-[28px] font-wotham">Where</div>
    <hr />
    <div class="font-domine text-xs">Nairobi <br /> Kenya</div>
  </div>
</div>
